<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button v-on:click="pageToggle()">
        {{ showCartPage ? "Go to Lessons" : "Go to cart"}}
      </button>
      <div v-show="!showCartPage">
        <div v-for="(x, index) in lessons">
          <h1>{{x.subject}}</h1>
          <p>{{x.location}}</p>
          <p>{{x.price}}</p>
          <p v-if="x.Aval >0">{{ "Spaces: " + x.Aval }}</p>
          <p v-else>No more avaliable items</p>
          <button v-on:click="valueDecrement(index)">Add to cart</button>
        </div>
      </div>

      <div v-show="showCartPage">
        <div v-show="showDiv(index)" v-for="(x, index) in lessons">
          <h1>{{x.subject}}</h1>
          <p>{{x.location}}</p>
          <p>{{x.price}}</p>
          <p>{{ "Spaces: " + (5 - x.Aval) }}</p>
          <button v-on:click="valueIncrement(index)">Remove</button>
        </div>
        <form>
          <input type="text" id="name" placeholder="Name" /><br />
          <input type="text" id="number" placeholder="Phone Number" />
          <input type="submit" value="Checkout" />
        </form>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module">
      import lessons from "./lessons.js";
      const app = Vue.createApp({
        data() {
          return {
            lessons: lessons,
            showCartPage: false,
          };
        },
        methods: {
          valueDecrement(index) {
            if (this.lessons[index].Aval > 0) {
              this.lessons[index].Aval--;
            }
          },
          valueIncrement(index) {
            if (this.lessons[index].Aval < 5) {
              this.lessons[index].Aval++;
            }
          },
          showDiv(index) {
            if (this.lessons[index].Aval < 5) {
              return true;
            }
          },
          pageToggle() {
            for (let index in this.lessons) {
              if (this.showCartPage == false && this.lessons[index].Aval == 5) {
              } else {
                this.showCartPage = !this.showCartPage;
                break;
              }
            }
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
