<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div id="app">
      <button class="buttonToggle" v-on:click="pageToggle()">
        {{ showCartPage ? "Go to Lessons" : "Go to cart"}}
      </button>

      <div v-show="!showCartPage">
        <input
          type="search"
          class="search"
          placeholder="Search"
          v-model="searchQuery"
        />
        <div class="lessonBox" v-for="(x, index) in searching">
          <h1>{{x.subject}}</h1>
          <p>{{x.location}}</p>
          <p>£{{x.price}}</p>

          <p v-if="x.Aval >0">{{ "Spaces: " + x.Aval }}</p>
          <p v-else>No more avaliable items</p>
          <i v-bind:class="x.icon"></i>
          <button class="button" v-on:click="valueDecrement(index)">
            Add to cart
          </button>
        </div>

        <form class="ordering">
          <label class="container"
            >Subject
            <input
              type="radio"
              value="subject"
              name="option"
              checked="checked"
              v-on:Click="sortChoice('subject')"
            />
            <span class="checkmark"></span>
          </label>
          <label class="container"
            >Location
            <input
              type="radio"
              value="location"
              name="option"
              checked="checked"
              v-on:Click="sortChoice('location')"
            />
            <span class="checkmark"></span>
          </label>
          <label class="container"
            >Price
            <input
              type="radio"
              value="price"
              name="option"
              checked="checked"
              v-on:Click="sortNumber('price')"
            />
            <span class="checkmark"></span>
          </label>
          <label class="container"
            >Avalability
            <input
              type="radio"
              value="avalability"
              name="option"
              checked="checked"
              v-on:Click="sortNumber('Aval')"
            />
            <span class="checkmark"></span>
          </label>
        </form>

        <form class="orderingChoose">
          <label class="container"
            >Deccending
            <input
              type="radio"
              value="location"
              checked="checked"
              name="ordering"
              v-on:Click="sortOrdering(false)"
            />
            <span class="checkmark"></span>
          </label>
          <label class="container"
            >Accending
            <input
              type="radio"
              checked="checked"
              value="subject"
              name="ordering"
              v-on:Click="sortOrdering(true)"
            />
            <span class="checkmark"></span>
          </label>
        </form>
      </div>

      <div v-show="showCartPage">
        <div
          class="lessonBox"
          v-show="showDiv(index)"
          v-for="(x, index) in lessons"
        >
          <h1>{{x.subject}}</h1>
          <p>{{x.location}}</p>
          <p>{{x.price}}</p>
          <p>{{ "Spaces: " + (x.originalAval - x.Aval ) }}</p>
          <i v-bind:class="x.icon"></i>
          <button class="button" v-on:click="valueIncrement(index)">
            Remove
          </button>
        </div>
        <form v-on:submit.prevent="checkoutSubmit">
          <input
            type="text"
            class="checkoutInput"
            required
            placeholder="Name"
            v-model="checkoutName"
          />
          <input
            type="text"
            class="checkoutInput"
            required
            placeholder="Phone Number"
            v-model="checkoutNumber"
          />
          <button class="checkoutButton" type="submit">Checkout</button>
        </form>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module">
      const app = Vue.createApp({
        data() {
          return {
            searchQuery: "",
            sortProperty: 42,
            ascendedOrder: true,
            lessons: [],
            showCartPage: false,
            checkoutName: null,
            checkoutNumber: null,
          };
        },
        methods: {
          valueDecrement(index) {
            if (this.lessons[index].Aval > 0) {
              this.lessons[index].Aval--;
            }
          },
          valueIncrement(index) {
            if (this.lessons[index].Aval < 5) {
              this.lessons[index].Aval++;
            }
          },
          showDiv(index) {
            if (this.lessons[index].Aval < this.lessons[index].originalAval) {
              return true;
            }
          },
          pageToggle() {
            for (let index in this.lessons) {
              if (
                this.showCartPage == false &&
                this.lessons[index].Aval == this.lessons[index].originalAval
              ) {
              } else {
                this.showCartPage = !this.showCartPage;
                break;
              }
            }
          },

          checkoutSubmit() {
            const filteredLessons = [];

            for (let i = 0; i < this.lessons.length; i++) {
              if (this.lessons[i].Aval < this.lessons[i].originalAval) {
                const lessonInfo = {
                  _id: this.lessons[i]._id,
                  subject: this.lessons[i].subject,
                  location: this.lessons[i].location,
                  price: this.lessons[i].price,
                  spaces: this.lessons[i].originalAval - this.lessons[i].Aval,
                };

                filteredLessons.push(lessonInfo);
              }
            }

            console.log(filteredLessons);

            const orderData = {
              name: this.checkoutName,
              number: this.checkoutNumber,
              lessons: filteredLessons,
            };
            console.log(orderData.lessons);

            fetch("/api/orders", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(orderData),
            })
              .then((response) => response.json())
              .then((data) => {
                console.log(data);
                alert(data.message);
                console.log(JSON.stringify(orderData.lessons[0]._id) + "test")
                return fetch(`/api/lessons/${orderData.lessons[0]._id}`, {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
          
          Aval: this.lesson.Aval - orderData.lessons[0].Aval,
        }),
      });
              })
              .then((updateResponse) => updateResponse.json())
  .then((updateData) => {
    console.log(updateData);
    alert(updateData.message);
  })
              .catch((error) => {
                console.error("Error submitting order:", error);
                alert("Error submitting order. Please try again.");
              });
          },

          sortChoice(property) {
            this.lessons.sort((a, b) => {
              const valueA = a[property].toLowerCase();
              const valueB = b[property].toLowerCase();
              this.sortProperty = property;
              return this.ascendedOrder
                ? valueA.localeCompare(valueB)
                : valueB.localeCompare(valueA);
            });
          },
          sortNumber(property) {
            this.lessons.sort((a, b) => {
              this.sortProperty = property;
              return this.ascendedOrder
                ? a[property] - b[property]
                : b[property] - a[property];
            });
          },
          sortOrdering(property) {
            this.ascendedOrder = property;
            return this.sortProperty === "subject" ||
              this.sortProperty === "location"
              ? this.sortChoice(this.sortProperty)
              : this.sortNumber(this.sortProperty);
          },
          async fetchLessons() {
            try {
              const response = await fetch("http://lesson-shop-env.eba-a9ygfdpz.us-east-1.elasticbeanstalk.com/api/lessons");
              const data = await response.json();
              this.lessons = data;
              this.lessons = data.map((lesson) => ({
                ...lesson,
                originalAval: lesson.Aval,
              }));
            } catch (error) {
              console.error("Error fetching lessons:", error);
            }
          },
        },
        computed: {
          searching() {
            return this.lessons.filter(
              (lesson) =>
                lesson.subject
                  .toLowerCase()
                  .includes(this.searchQuery.toLowerCase()) ||
                lesson.location
                  .toLowerCase()
                  .includes(this.searchQuery.toLowerCase())
            );
          },
        },
        created() {
          this.fetchLessons();
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
