.lessonBox {
    border: 0.2em solid rgb(45, 177, 218);
    border-radius: 1em;
    padding: 1em;
    margin: auto;
    margin-bottom: 1em;
    width: 20em;
    height: 13em;
     margin-top: 2em;
}

.cartButton {
    position: relative;
    top: -12em;
    margin-left: 15em;

}

.fa {
    font-size: 100em;
    position: relative;
    top: -1.1em;
    margin-left: 1em;
    font-size: 10em !important;

}

.button {
    position: relative;
    top: -6.5em;
    margin-left: 4em;
    background-color: rgb(25, 98, 182);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    cursor: pointer;
    
}

.buttonToggle {
    background-color: #24a756;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;
}

.checkoutButton {
       
    background-color: #a7247b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;
}

.search {
    width: 50%;
    padding: 12px 20px;
    display: block;
    margin-left: auto;

    box-sizing: border-box;
    text-align: center;
    margin-top: -3em;
   

}

.checkoutInput {
        margin-top: 2em;
    width: 40%;
    padding: 12px 20px;
    margin: 8px 1em;
    box-sizing: border-box;

}



.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    
   


}


.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}


.container:hover input~.checkmark {
    background-color: #ccc;
}


.container input:checked~.checkmark {
    background-color: #2196F3;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.container input:checked~.checkmark:after {
    display: block;
}


.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.ordering {

    position: relative;
  

}

.orderingChoose {

    position: relative;

}